.md_container_dark {
    h1 {
        color: lightblue;
        font-size: x-large;
    }

    h2 {
        color: lavender;
        font-size: larger;
    }

    ul {
        margin-left: 2em;
    }
    a {
        cursor: pointer;
        color: aqua;
        text-decoration: underline;
    }
}

.md_container_light {
    h1 {
        color: #7ac1e4;
        font-size: x-large;
    }

    h2 {
        color: #7ac1e4;
        font-size: larger;
    }

    ul {
        margin-left: 2em;
    }
    a {
        cursor: pointer;
        color: rgb(31, 197, 197);
        text-decoration: underline;
    }
}
