.md_container {
    h1 {
        color: lightblue;
        font-size: x-large;
    }

    h2 {
        color: lavender;
        font-size: larger;
    }

    ul {
        margin-left: 2em;
    }
    a {
        cursor: pointer;
        color: aqua;
        text-decoration: underline;
    }
}
